body {
    margin-left: 10pc;
    margin-right: 8pc;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.header {
    /* color: #ffffff; */
    /* background-color: #212121; */
    text-decoration: none !important;
    font-family: 'Courier New', Courier, monospace;
    margin: 3px;
    padding: 1pc;
    
}

.header a {
    text-decoration: none !important;
    color: black;
    /* text-shadow: 2px 2px 4px #000000; */
}
.header h2 {
    margin-bottom: 2px;
}

.content {
    margin-top: 1pc;
    margin: 1px;
    padding: 1pc;
    background-color: #ffffff;
    font-size: 1.1pc;
}